@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap");

body,
html {
  font-family: "Nanum Pen Script", "Comic Sans";
  height: 100vh;
  margin: 0;
}

.pagecontainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.gameinfo {
  font-size: 1.5rem;
  align-self: end;
  justify-self: center;

  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 4px;

  margin: 10px;
}

#info-title {
  grid-column: 1/-1;
  text-align: center;
  font-weight: bold;
}

#next-up {
  grid-column: 1/-1;
  text-align: center;
}

.playerName {
  text-align: right;
}

.gamecontainer {
  height: min(80%, 500px);
  width: min(60%, 500px);

  align-self: start;
  justify-self: center;

  box-shadow: 0px 0px 49px -22px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 20px;
  align-self: flex-start;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: min(5vh, 20px);
}

.gamesquare {
  font-size: min(20vh, 100px);
  text-align: center;

  background-color: #eee;
  border: 10px solid rgb(110, 168, 110);
  border-radius: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.empty:hover {
  background-color: #bbb;
}

.title {
  width: 100%;
  color: black;
  display: flex;
  font-size: 20vh;
  justify-content: center;
  align-self: flex-start;
}

.titleword {
  display: inline;
}

.tic {
  color: rgb(17, 130, 158);
}

.tac {
  color: rgb(113, 194, 38);
}

.toe {
  color: rgb(179, 30, 154);
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  background-color: white;

  box-shadow: 0px 0px 49px -22px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 20px;
}
